<!DOCTYPE html>
<html>
<head>
  <title><%= t("itas") %></title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tag %>
</head>
<div>
  <% if flash[:error] %>
      <div>
        <ul>
          <%= flash[:error] %>
        </ul>
      </div>
  <% end %>
</div>
<div>
  <% if @current_admin_user.sign_in_count <= 1 %>
  <div>
    <h2><%= t("scan_qr") %></h2>
     <%= image_tag(@current_admin_user.google_qr_uri) %>
  </div>
  <div>
    <% end %>
    <%= form_tag admin_user_mfa_session_index_path, method: :post do %>
        <p><%= t("auth_code") %></p>
        <%= text_field :auth, :mfa_code, autofocus: true %>
        <%= submit_tag 'authenticate' %>
    <% end %>
  </div>
</div>