<div class="review-text">
<p id="notice"><%= notice %></p>

<h3 style = "text-align: center"><% t('reviews') %></h3>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>

        <tr>
          <td><strong><%= "#{review.title.upcase}  " %></strong></td>
        </tr>
      <tr>
        <td>
          <% review.rating.times do %>
            <span class="fa fa-star checked star-a"></span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="review-email">
          <%= review.admin_user().email %>
        </td>
      </tr>
      <tr>
        <td><%= review.body %></td>
      </tr>
      <tr>
        <td><hr size="1" width="98%" color="#01a0e2"></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
<% if current_admin_user && current_admin_user.role != 'banned' && !current_admin_user.review %>
    <%= link_to t('new_review'), new_review_path, class: "btn ", style: 'background-color: #01a0e2; color:#ffffff;' %>
<% elsif current_admin_user && current_admin_user.review %>
    <%= link_to t('edit_review'), edit_review_path(current_admin_user.review.id), class: "btn ", style: 'background-color: #01a0e2; color:#ffffff;' %>
<% end %>
</div>